
<nav class="nav-bar-container  m-4 pt-2 pb-2">
    <div class="nav-content d-flex flex-row align-items-center justify-content-between">
        <img 
            src="https://assets.ccbp.in/frontend/react-js/nxt-trendz-logo-img.png" 
            alt="NXT Trendz Logo"
            class="website-logo"
        >
        <ul class="nav-menu-list d-flex flex-row align-items-center justify-content-around">
            <li class="nav-menu-item m-3">
                <a routerLink="/home">Home</a>
            </li>
            <li class="nav-menu-item m-3">
                <a routerLink="/products">Products</a>
            </li>
            <li class="nav-menu-item m-3">
                <a routerLink="/cart">Cart</a>
            </li>
        </ul>
        <button class="btn btn-primary logout-desktop-btn">
            Logout
        </button>
        <button type="button" className="logout-mobile-btn">
            <img
            src="https://assets.ccbp.in/frontend/react-js/nxt-trendz-log-out-img.png"
            alt="logout icon"
            className="logout-icon"
            />
      </button>
    </div> 
</nav>