<!--header-->
<app-header></app-header>

<div class="home-container d-flex flex-column flex-md-row align-items-center justify-content-center p-5">

        <div class="home-content d-flex flex-column align-items-center align-items-md-start p-2">
            <h1 class="home-heading">Clothes That Get YOU Noticed</h1>
            <img
                src="https://assets.ccbp.in/frontend/react-js/nxt-trendz-home-img.png"
                alt="clothes that get you noticed"
                class="home-mobile-img"
            />
            <p class="home-description">
                Fashion is part of the daily air and it does not quite help that it
                changes all the time. Clothes have always been a marker of the era and
                we are in a revolution. Your fashion makes you been seen and heard
                that way you are. So, celebrate the seasons new and exciting fashion
                in your own way.
            </p>
            <button type="button" class="btn btn-primary mt-2 shop-now-button">
                Shop Now
            </button>
        </div>
        
        <div class="home-desktop-img-container">
            <img
                src="https://assets.ccbp.in/frontend/react-js/nxt-trendz-home-img.png"
                alt="dresses to be noticed"
                class="home-desktop-img d-none d-md-block"
            />
        </div>

</div>
